/* Обнуляющий стиль */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}
a,
a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

img {
    vertical-align: top;
}

html,
body {
    height: 100%;
}

html {
    font-size: 16px; /* по умолчанию */
}

body {
    line-height: 1;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    overflow-x: hidden;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

[class*="__container"] {
    box-sizing: content-box;
    max-width: 1180px;
    margin: 0px auto;
    padding: 0px 15px; /* отступы безопасности */
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
@media (max-width: 1140px) {
    [class*="__container"] {
        /* max-width: 950px; */
    }
}
/* Условные планшеты */
@media (max-width: 991.98px) {
    [class*="__container"] {
        /* max-width: 750px; */
    }
}
/* Условные мобилки */
@media (max-width: 767.98px) {
    [class*="__container"] {
        /* max-width: none; */
    }
}




